<!-- <div class="grid-container">
  <div class="grid-item">
    <button class="b1" (click)="xORo()" (click)="toggleValue()">{{ currentValue }}</button>
  </div>
  <div class="grid-item">
    <button class="b2" (click)="xORo()" (click)="toggleValue()">{{ currentValue }}</button>
  </div>
  <div class="grid-item">
    <button class="b3" (click)="xORo()" (click)="toggleValue()">{{ currentValue }}</button>
  </div>
  <div class="grid-item">
    <button class="b4" (click)="xORo()" (click)="toggleValue()">{{ currentValue }}</button>
  </div>
  <div class="grid-item">
    <button class="b5" (click)="xORo()" (click)="toggleValue()">{{ currentValue }}</button>
  </div>
  <div class="grid-item">
    <button class="b6" (click)="xORo()" (click)="toggleValue()">{{ currentValue }}</button>
  </div>
  <div class="grid-item">
    <button class="b7" (click)="xORo()" (click)="toggleValue()">{{ currentValue }}</button>
  </div>
  <div class="grid-item">
    <button class="b8" (click)="xORo()" (click)="toggleValue()">{{ currentValue }}</button>
  </div>
  <div class="grid-item">
    <button class="b9" (click)="xORo()" (click)="toggleValue()">{{ currentValue }}</button>
  </div>
</div> -->

<div class="grid-container">
  <div class="grid-item0">
    <button class="b0" [disabled]="isButtonDisabled[0]" (click)="toggleValue(0)">{{ buttonValues[0] }}</button>
  </div>
  <div class="grid-item1">
    <button class="b1" [disabled]="isButtonDisabled[1]" (click)="toggleValue(1)">{{ buttonValues[1] }}</button>
  </div>
  <div class="grid-item2">
    <button class="b2" [disabled]="isButtonDisabled[2]" (click)="toggleValue(2)">{{ buttonValues[2] }}</button>
  </div>
  <div class="grid-item3">
    <button class="b3" [disabled]="isButtonDisabled[3]" (click)="toggleValue(3)">{{ buttonValues[3] }}</button>
  </div>
  <div class="grid-item4">
    <button class="b4" [disabled]="isButtonDisabled[4]" (click)="toggleValue(4)">{{ buttonValues[4] }}</button>
  </div>
  <div class="grid-item5">
    <button class="b5" [disabled]="isButtonDisabled[5]" (click)="toggleValue(5)">{{ buttonValues[5] }}</button>
  </div>
  <div class="grid-item6">
    <button class="b6" [disabled]="isButtonDisabled[6]" (click)="toggleValue(6)">{{ buttonValues[6] }}</button>
  </div>
  <div class="grid-item7">
    <button class="b7" [disabled]="isButtonDisabled[7]" (click)="toggleValue(7)">{{ buttonValues[7] }}</button>
  </div>
  <div class="grid-item8">
    <button class="b8" [disabled]="isButtonDisabled[8]" (click)="toggleValue(8)">{{ buttonValues[8] }}</button>
  </div>
</div>
<p class="displayWinner">The winner is {{ checkWinner() }}</p>
<div class="resetButtonDiv">
  <button class="resetButton" (click)="resetButton()">RESET</button>
</div>